* {
    margin: 0px;
    padding: 0px;
}

#container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1000px;
    align-items: center;
    background-color: lightblue;
    height: 600px;
}

#forminfo {
    background-color: lightpink;
    width: 500px;
    height: 464px;
    border: 1px solid black;
    border-radius: 10%;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
}