<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete {{show.title}}</title>
    <style>
        #container {
            margin: auto;
            width: 700px;
            margin-top: 30px;
            border: 2px solid black;
            height: 400px;
            padding: 20px;
        }

        #choices {
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
        }
        .choice {
            font-size: 40px;
        }
    </style>
</head>
<body>
    <div id="container">
        <p><a href="/dashboard">Home</a> - <a href="/destroy_session">Logout</a>
        <h2>ARE YOU SURE YOU WANT TO DELETE {{show.title}}?</h2>
        <div id="choices">
            <a class="choice" href="/delete/{{show.id}}">YES</a>
            <br>
            <a class="choice" href="/dashboard">NO</a>
        </div>
    </div>
</body>
</html>