<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One User</title>
    <style>
        #container {
            margin: auto;
            width: 700px;
            margin-top: 30px;
            border: 2px solid black;
            height: 400px;
            padding: 20px;
        }
        p {
            font-size: 30px;
        }

        #choices {
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
        }
        a {
            font-size: 40px;
        }
    </style>
</head>
<body>
    <div id="container">
        <h2>ARE YOU SURE YOU WANT TO DELETE USER {{user_id}}?</h2>
        <div id="choices">
            <a href="/delete/{{user_id}}">YES</a>
            <br>
            <a href="/users">NO</a>
        </div>
    </div>
</body>
</html>