#container {
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
    width: 900px;
}

#column1, #column2 {
    flex: 1;
    border: 2px solid black;
    height: 400px;
    width: 400px;
    margin: 20px;
    padding: 20px;
}

#register {
    color: blue;
}

#login {
    color: green;
}

form > * {
    margin: 10px 0px;
}

.alert {
    padding: 10px;
    color: red;
    margin-left: 50px;
}